<div class="footer">
    <div id="logo" class="div-footer">      
    </div>        
    <div id="menu-footer" class="div-footer">
      <img class="img-logo-footer" src="/assets/img/footer/logo_eLearning_footer.png" alt="Image Linkdin-footer">  
      <a class="link-menu-footer" href="#">Login</a>      
      <a class="link-menu-footer" href="#">Vídeos</a>
      <a class="link-menu-footer" href="#">Artigos</a>
      <a class="link-menu-footer" href="#">Cadastro</a>
    </div>
    <div id="social-midias" class="div-social-medias-footer">
      <img class="img-footer" src="/assets/img/footer/facebook-footer.png" alt="Image Linkdin-footer">
      <img class="img-footer" src="/assets/img/footer/linkdin-footer.png" alt="Image Linkdin-footer">
      <img class="img-footer" src="/assets/img/footer/twiter-footer.png" alt="Image Linkdin-footer">
    </div>     
    <div id="company" class="div-footer text-company-footer">
      © Biuld Knowlodge (by Ediele Gomes), Inc. 2020-2024
    </div>
  </div>
